#imgid {
    display: block;
    margin: 0 auto;
}
body{
    background-color: #f6fff8 ; 
}
p{
    color: black;
    text-align: center;
    font-family: 'Roboto' , sans-serif ;
    font-size: 20px;
}
h2{
    background-color:#cfe1b9; 
    background-blend-mode: color-dodge;
    text-align: center;
    border: 5px solid #97a97c ;
    padding: 5px;
}
h1{
    text-align: center;
    background-color: #b5c99a ;
    border: 5px solid #87986a ;
    padding: 10px;
}